.categories {
  ul {
    overflow: hidden;
    padding: 0;
    display: flex;

    li {
      user-select: none;
      list-style-type: none;
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 15px;
      margin-right: 10px;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.1s ease-in-out;

      &:hover {
        background-color: #eeeeee;
      }
      &:active {
        background-color: #4e4e4e;
        color: #eeeeee;
        font-weight: 600;
      }
    }
  }

  .active {
    color: #ffffff;
    background-color: #4e4e4e;
    font-weight: 600;
    &:hover {
      background-color: #4e4e4e;
    }
  }
}
