::-webkit-scrollbar {
  width: 7px;
  background-color: #ffffff;
}
::-webkit-scrollbar-thumb {
  background-color: #2c89b8;
}

body {
  margin: 0;
  font-family: 'Nunito', system-ui;
  background-color: rgb(139, 185, 253);
  margin-right: calc(-1 * (100vw - 100%));
  overflow-x: hidden;
}

.wrapper {
  padding-top: 60px;
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff;
  margin: 0px auto 0px;
  max-width: 1440px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);

  .content {
    padding: 20px 75px;
    border-bottom: 1px solid #eaeaea;

    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__title {
      h1 {
        margin: 20px 0px 0px;
        font-weight: 500;
      }
    }

    &__items {
      flex-wrap: wrap;
      display: flex;

      .no_items {
        margin: 0;
        padding: 0;
        font-size: 22px;
        font-weight: 600;
      }
    }
  }
}
